<div class="amarillo">
  <h6 class="info">vocho de oro</h6>
</div>
<div class="blanco">
  <a routerLink="/login"><img class="log" src="assets/log.png" alt=""></a>
</div>

<div class="grisoscuro">
  <a routerLink="/dashEmpleado"><img class="imagen" src="assets/cartman.jpg" alt=""></a>
  <h3 class="cartmantext">Eric Cartman</h3>
</div>

<div class="negro">
  <a style="text-decoration: none;" class="text1" routerLink="/automoviles">Automoviles</a>
  <a style="text-decoration: none;" class="text2" routerLink="/clientes">Clientes</a>
  <a style="text-decoration: none;" class="text3" routerLink="/ventas">Ventas</a>
</div>

<div class="fondogris">
  <div class="card1">
    <img class="img1" src="assets/lamboazul.jpeg" alt="">
    <h6 class="h6">Lamborghini</h6>
    <h6 class="modelo1">Huracán</h6>
    <h6 class="precio1">$5,000,000</h6>
    <button class="btn1" routerLink="/detalle">Ver</button>
  </div>
  <div class="card2">
    <img class="img1" src="assets/lamboazul.jpeg" alt="">
    <h6 class="h6">Lamborghini</h6>
    <h6 class="modelo1">Huracán</h6>
    <h6 class="precio1">$5,000,000</h6>
    <button class="btn1" routerLink="/detalle">Ver</button>
  </div>
  <div class="card3">
    <img class="img1" src="assets/lamboazul.jpeg" alt="">
    <h6 class="h6">Lamborghini</h6>
    <h6 class="modelo1">Huracán</h6>
    <h6 class="precio1">$5,000,000</h6>
    <button class="btn1" routerLink="/detalle">Ver</button>
  </div>
  <div class="card4">
    <img class="img1" src="assets/lamboazul.jpeg" alt="">
    <h6 class="h6">Lamborghini</h6>
    <h6 class="modelo1">Huracán</h6>
    <h6 class="precio1">$5,000,000</h6>
    <button class="btn1" routerLink="/detalle">Ver</button>
  </div>
  <div class="card5">
    <img class="img1" src="assets/lamboazul.jpeg" alt="">
    <h6 class="h6">Lamborghini</h6>
    <h6 class="modelo1">Huracán</h6>
    <h6 class="precio1">$5,000,000</h6>
    <button class="btn1" routerLink="/detalle">Ver</button>
  </div>
  <div class="card6">
    <img class="img1" src="assets/lamboazul.jpeg" alt="">
    <h6 class="h6">Lamborghini</h6>
    <h6 class="modelo1">Huracán</h6>
    <h6 class="precio1">$5,000,000</h6>
    <button class="btn1" routerLink="/detalle">Ver</button>
  </div>
</div>

<footer>
  <div class="footer">
    <img class="logofot" src="assets/logo.png" alt="">
    <h3 class="ayuda">Ayuda</h3>
    <h6 class="correo">casarina@gmail.com</h6>
    <h3 class="redes">Redes</h3>
    <h6 class="facebook">Facebook</h6>
    <h6 class="instagram">Instagram</h6>
    <h6 class="Twitter">Twitter</h6>
  </div>
</footer>
