<div class="amarillo">
  <h6 class="info">vocho de oro</h6>
</div>
<div class="blanco">
  <a routerLink="/login"><img class="log" src="assets/log.png" alt=""></a>
</div>

<div [ngSwitch]="valor">

  <div *ngSwitchCase="1">
    <div class="grisoscuro">
      <a routerLink="/dashAdmin"><img class="imagen" src="assets/homero.jpg" alt=""></a>
      <h3 class="homerotext">Homero Simpson</h3>
    </div>

    <div class="negro">
      <a style="text-decoration: none;" class="text1" routerLink="/sucursal">Sucursales</a>
      <a style="text-decoration: none;" class="text2" routerLink="/proveedores">Proveedores</a>
      <a style="text-decoration: none;" class="text3" routerLink="/automoviles">Automoviles</a>
      <a style="text-decoration: none;" class="text4" routerLink="/lotes">Lotes</a>
      <a style="text-decoration: none;" class="text5" routerLink="/clientes">Clientes</a>
      <a style="text-decoration: none;" class="text6" routerLink="/ventas">Ventas</a>
    </div>
  </div>

  <div *ngSwitchCase="2">

    <div class="grisoscuro">
      <a routerLink="/dashEmpleado"><img class="imagen" src="assets/cartman.jpg" alt=""></a>
      <h3 class="cartmantext">Eric Cartman</h3>
    </div>

    <div class="negro">
      <a style="text-decoration: none;" class="text1" routerLink="/automoviles">Automoviles</a>
      <a style="text-decoration: none;" class="text2" routerLink="/clientes">Clientes</a>
      <a style="text-decoration: none;" class="text3" routerLink="/ventas">Ventas</a>
    </div>

  </div>

</div>
<div class="fondogris">

  <div class="row mt-3">
    <div class="col-12 col-lg-8 offset-0 offset-lg-2">
      <h1>Ventas</h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-lg-8 offset-0 offset-lg-2">
      <input class="form-control" placeholder="buscar" type="text" name="" id="">
    </div>
  </div>


<div class="row mt-3">
    <div class="col-12 col-lg-8 offset-0 offset-lg-2">
      <div class="table-responsive">
        <div>
          <table class="table table-bordered table-hover table-warning">
            <thead><tr><th>AUTOMOVIL</th><th>MODELO</th><th>AÑO</th><th>TIPO DE PAGO</th><th>PLAZOS</th><th>TIPO DE SEGURO</th></tr></thead>
            <tbody class="table-group-divider">
              <tr class="table-light">
                <td>Lamborgini</td>
                <td>Huracan</td>
                <td>2015</td>
                <td>Mensualidad</td>
                <td>15</td>
                <td>basico</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
