<div class="amarillo">
  <h6 class="info">vocho de oro</h6>
</div>
<div class="blanco">
  <a routerLink="/login"><img class="log" src="assets/log.png" alt=""></a>
</div>

<div class="grisoscuro">
  <a routerLink="/dashCliente"><img class="imagen" src="assets/butters.jpg" alt=""></a>
  <h3 class="butterstext">butters stotch</h3>
</div>

<div class="negro">
  <a style="text-decoration: none;" class="text1" routerLink="/misautos">Mis autos</a>
</div>

<div class="fondogris">

  <div>
      <div class="col-12 col-lg-8 ">
        <img class="imgde" src="assets/lamboazul.jpeg" alt="">
      </div>
  </div>

  <div>
      <p class="descrip">Sed ut perspiciatis unde omnis iste natus error
        sit voluptatem <br>accusantium doloremque lauda
       ntium, totam rem aperiam, eaque <br>ipsa quae ab
       illo inventore veritatis et quasi architecto beata
       e vitae<br> dicta suntexplicabo. Nemo enim ipsamv
       oluptatem quiavoluptas sit<br> aspernatur aut odita
       ut fugit, sedquia consequuntur magni dolores e<br>
       os qui rationevoluptatem sequi nesciunt. Neque
       porro quisquamest, <br>qui dolorem ipsum quia dolo
       r sit amet, consectetur, adipisci velit, sed <br>quia n
       on numquam eius modi.</p>
  </div>

  <div>
    <h2 class="carro">Lamborghini</h2>
    <h2 class="mod">Huracán</h2>
    <h2 class="pre">Precio:5,000,000</h2>
    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Mis pagos</button>
  </div>



</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mis pagos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div>
            <div class="table-responsive">
              <div>
                <table class="table table-bordered table-hover table-warning">
                  <thead><tr><th>NUMERO DE PAGO</th><th>FOLIO RECIBO</th><th>PERIODO</th><th>TOTAL</th><th>ESTADO DEL PAGO</th></tr></thead>
                  <tbody class="table-group-divider">
                    <tr class="table-light">
                      <td>1</td>
                      <td>1231434</td>
                      <td>Enr-Feb</td>
                      <td>100,000</td>
                      <td>Liquidado</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<footer>
  <div class="footer">
    <img class="logofot" src="assets/logo.png" alt="">
    <h3 class="ayuda">Ayuda</h3>
    <h6 class="correo">casarina@gmail.com</h6>
    <h3 class="redes">Redes</h3>
    <h6 class="facebook">Facebook</h6>
    <h6 class="instagram">Instagram</h6>
    <h6 class="Twitter">Twitter</h6>
  </div>
</footer>
